# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

- List popular languages for Data Science
- List of commonly used Libraries for Data Scientists
- List of popular data tools for Data Science

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. C
5. SQL
6. JavaScript

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

|**Data Science Tools**|
|----------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to multiply then add integers

In [4]:
(3*4)+5

17

### This will covert 200 minutes to hours by dividing by 60

In [5]:
200/60

3.3333333333333335

## Author
Michael Smyth